::-webkit-scrollbar {
  width: 5px;
  z-index: -999;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  z-index: -999;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8fbaf3;
  border-radius: 90px;
  height: 10px;
  z-index: -999;
}

::-webkit-scrollbar-thumb:hover {
  background: #5783bd;
  z-index: -999;
}
